<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%- include('./error_massage'); %>
    <form action="/signup" method="post">
        <label>ユーザ名</label>
        <input required type="text" name="username"/>
        <br>
        <label>パスワード</label>
        <input required type="password" name="password"/>
        <br>
        <label>パスワード再入力</label>
        <input required type="text" name="repassword"/>
        <br>
        <input type="submit" value="Sign up"/>
    </form>
  </body>
</html>